.home-container {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    overflow-y: scroll;
    display: inline-block;
    max-height: 100%;
    width: 33%;
}

.maincontent {
    overflow-y: scroll;
    display: inline-block;
    max-height: 100%;
    width: 67%;
}