.header-box{
    padding-top: 13 px;
    padding-bottom: 8 px;
    display: inline;
}

.profile-pic{
    display: inline;
}

.name-box{
    display: inline;
}

.body-box{

}

.sub-box{

}

.sponsorships{

}

.requests{

}

.account-info{

}